@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding-top: 20px;
  font: 14px/1 'Open Sans', sans-serif;
  color: #ffffff;
  background: #2C3649;
}

#titleheader {
  float: right;
  font-size: xx-large;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 5vw;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 95vw;
  padding: 50px;
  margin: 0 auto;
  background: #3D5174;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 5px solid #8D31B0;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\1F4C8';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\2764';
}

label[for*='4']:before {
  content: '\2694';
}

label[for*='5']:before {
  content: '\f1a9';
}

label[for*='6']:before {
  content: '\2691';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #ffffff;
  border: 0px solid #8D31B0;
  border-top: 0px solid orange;
  border-bottom: 1px solid #8D31B0;
  background: #53677B;
}

/* My Additions */
summary {
  font: 25px/1 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.flexgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.threeXgrid{
  position: relative;
  margin: 2%;
  display:block;
  text-align: left;;
  background-color: #53677B;
  min-height: 300px;
}

.threeXgrid h2 {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #53677B;
}

.gridtext {
  width: 50%;
}

.backimg {
  float: right;
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-color: #53677B;
  right: 0;
  max-height: 500px;
}

.backimglayer {
  opacity: 0;
  }
  .backimglayer:hover {
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  }

.areaheader {
  font-size: xx-large;
  border-bottom: 1px solid #8D31B0;
}

.link {
  font-family: 'Times New Roman', Times, serif;
}
.link:link {
  color: white;
}
.link:visited {
  color: white;
}
.link:hover {
  color: white;
  transform: scale(1.3)
}
.link:active {
  color: white;
}

.characterWikiLink {
  float: right;
  right: 0;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  font-family: 'Times New Roman', Times, serif;
}
.characterWikiLink:link {
  color: white;
}
.characterWikiLink:visited {
  color: white;
}
.characterWikiLink:hover {
  color: white;
  transform: scale(1.3)
}
.characterWikiLink:active {
  color: white;
}

.WikiLink {
  font-family: 'Times New Roman', Times, serif;
}
.WikiLink:link {
  color: white;
}
.WikiLink:visited {
  color: white;
}
.WikiLink:hover {
  color: white;
  transform: scale(1.3)
}
.WikiLink:active {
  color: white;
}


/*
.backimg:hover {
  opacity: 0;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}
*/

p {
  line-height: 1em;
  padding: 0;
  margin: 0.5em;
}
/* End of Additions */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2C3649; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8D31B0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.divimg {
  float: right;
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-color: #53677B;
  right: 0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block;
}



@media screen and (max-width: 1500px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
  .flexgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (max-width: 1100px) {
  .flexgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  label {
    padding: 15px;
  }

} 

@media screen and (max-width: 600px) {
  label {
    padding: 5px;
  }
  #titleheader {
    float: right;
    font-size: xx-large;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 5vw;
  }

}
